node_modules
.cache
.parcel-cache
dist/*
src/dist/*    
dist/index.b4b6dfad.js
dist/index.b4b6dfad.js
dist/index.b4b6dfad.js.map
dist/index.b4b6dfad.js.map
dist/index.b4b6dfad.js
src/dist/index.0d6fcb10.js
dist/index.html
dist/index.b4b6dfad.js.map
src/dist/index.0d6fcb10.js.map
dist/index.b4b6dfad.js
dist/index.b4b6dfad.js
dist/index.b4b6dfad.js.map
dist/index.b4b6dfad.js.map
