#profile-container {
    margin-top: 40px;
  }
  
  
  .d-grid {
    margin-top: 3px;
  }

  /* ProfileView.css */

.userDetails {
  background-color: #d1d1d1; /* Just an example; replace with actual color */
  padding: 10px;
  margin: 0; 
  width: 100%; // Ensure it takes full width of its container
}

.updateForm {
  background-color: #d1d1d1; /* Just an example; replace with actual color */
  padding: 10px;
  margin: 0; 
  width: 100%; // Ensure it takes full width of its container
}

.favoriteMovies {
  background-color: #d1d1d1; /* Just an example; replace with actual color */
  padding: 10px;
  margin: 0; 
  width: 100%; // Ensure it takes full width of its container
  &:hover {
    background-color: #d1d1d1 !important;
  }
}

@media (max-width: 768px) {
  .userDetails {
    background-color: #ff0000;
  }
  .updateForm {
    background-color: #00ff00;
  }
}

profile-container {
  width: 100%; // Ensure it takes full width of its container
  margin: 0; // Adjust as needed
  padding: 0; // Adjust as needed
}

.no-hover:hover {
  background-color: inherit !important; /* If the hover effect changes the background color */
  color: inherit !important;            /* If the hover effect changes the text color */
  transform: none !important;           /* If the hover effect has a transform property */
  width: 100%; // Ensure it takes full width of its container
}