.back-button {
    padding: 4px 12px 4px 12px;
    color: whitesmoke;
    background-color: dodgerblue;
    border: 10px;
    border-radius: 4px;
  }

  .movie-view-container {
    margin-top: 50px; // Adjust this value to give enough space for the Navbar.
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  
  .movie-view-content {
    padding: 20px; /* Add some padding around the content */

  }

  